<nav class="p-nav py-3">
  {% set navPages = collections.all | eleventyNavigation %}
  {%- for entry in navPages %}
      <a class="p-nav__link px-3" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
  {%- endfor %}

</nav>
