<nav class="p-nav py-1 px-2">
  {% set navPages = collections.all | eleventyNavigation %}
  {%- for entry in navPages %}
      <a class="p-nav__link px-1 pt-2 pb-1" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
  {%- endfor %}

</nav>
