.c-card{
	--card-background: #fff;
	border-radius: 4px;
	padding: var(--baseline) var(--gap);
	background: #fff;
	background: var(--card-background, #fff);
	box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.04);
	transform: perspective(200px) translateZ(0);
	transition: all .3s;
	overflow: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;



	&:hover,
 	&:focus{
 		transform: perspective(200px) translateZ(10px);
	  	box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.04);
		
		z-index: 1;
	}
}

