// @import '../css/inline.scss'; 
// @import '../css/resume.scss'; 

// @import '../css/hero.scss'; 

@import 'reset.scss';
@import 'theme.scss';
@import 'font.scss';
@import 'utility.scss';

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body{
// background-image: url('/img/memphis-mini.png');  
color: $text;
font-family: 'Eina', 'Helvetica Neue', 'Alegreya Sans', 'Nunito Sans', 'Quattrocento Sans', cursive, sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Eina', 'Helvetica Neue', 'Alegreya Sans', 'Nunito Sans', 'Quattrocento Sans', cursive, sans-serif;
}





    .logo{
      height: 4EM;
    width: 4em;
    line-height: 4.2em;
    border-radius: 50%;
    color: #fff;
    background: #333;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    background: $c1;
    }
    .logo-3{
      height: auto;
      line-height: 1;
      padding: 0.5em;
      border-radius: .25em;
      margin-bottom: 10px;
    }
    .logo-4{
      height: auto;
      line-height: 1;
      padding: 0.5em;
      border-radius: .25em;
      background: $text;
      color: #FFF;
      font-weight: 900;
      i{
        // color: $c3;
      }
    }


@import './patterns/nav.scss';
@import './patterns/hero.scss';

@import 'card.scss';

@import './objects/page.scss';
@import './objects/post.scss';

@import 'resume.scss';

h1{
  font-size: var(--h1-font-size, 2.4rem);
  margin-bottom: .5em;
}
h2{
  font-size: var(--h2-font-size, 24px);
  margin-bottom: 1em;
}
p{
  margin-bottom: 1em;
  line-height: 1.5em;
}

@media print {
  ::root{
    font-size: 10px;
    line-height: 1.2;
  }
  h1{ font-size: 1.5rem; line-height: 1.2; margin-bottom: 0;}
  h2{ font-size: 1.25rem; line-height: 1.2;}
  p,ul,li{
    font-size: 1rem;
    line-height: 1.2;
  }

}
